<ion-header class="border" >
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
        <img src="/assets/img/logo.png">
        <img src="/assets/img/tmed.svg" >
  </ion-toolbar>
   <ion-toolbar *ngIf="networkStatus && networkStatus.connected == true" >
      <ion-button color="danger"  horizontal="end" shape="round"  slot="start" (click)="creermed()" *ngIf="buttonPlus==0">
          <ion-icon name="person-add"></ion-icon>
      </ion-button>
      <ion-button color="danger"  horizontal="end" shape="round"  slot="start" (click)="retour()" *ngIf="buttonPlus==1">
          <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
    </ion-toolbar>
  <ion-toolbar *ngIf="networkStatus && networkStatus.connected == true">
      <ion-grid>
          <ion-row>
            <ion-col size="9" size-sm >
                <ion-searchbar class="recherchebar"  animated="true" [(ngModel)]="kw"  showCancelButton placeholder="Specialité"></ion-searchbar>
            </ion-col>
            <ion-col size="3" size-sm>
                <ion-button shape="round"  (click)="afficherMed(kw)"><ion-icon name="search"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>

</ion-header>

<ion-content >
  <div *ngIf="listMed==0">
     <div *ngIf="medecins">
       <ion-list *ngFor="let medecin of medecins" >
         <ion-item class="item" (click)="DetailMed(medecin)">
           <ion-avatar (click)="DetailMed(medecin)" slot="start">
              <img src="/assets/img/med.jpg">
           </ion-avatar>
           <ion-label>
           <h3>DR.{{medecin.nom}}</h3>
          </ion-label>
          <ion-icon name="eye" slot="end" (click)="DetailMed(medecin)"></ion-icon>
        </ion-item>
       </ion-list >
     </div>
     <div *ngIf="!medecins">
       <div class="ion-padding custom-skeleton">
         <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
         <ion-skeleton-text animated></ion-skeleton-text>
         <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
         <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
         <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
       </div>
           <ion-list>
             <ion-list-header>
               <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
             </ion-list-header>
             <ion-item>
               <ion-avatar slot="start">
                 <ion-skeleton-text animated></ion-skeleton-text>
               </ion-avatar>
               <ion-label>
                 <h3>
                   <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                 </h3>
                 <p>
                   <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                 </p>
                 <p>
                   <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                 </p>
               </ion-label>
             </ion-item>
           </ion-list>
     </div>
  </div>
  <div *ngIf="listMed==1">
    <ion-item>
      <ion-label position="floating" >Nom:</ion-label>
      <ion-input type="text" [(ngModel)]="medM.nom" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Prenom:</ion-label>
      <ion-input type="text" [(ngModel)]="medM.prenom" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Postnom:</ion-label>
      <ion-input type="text" [(ngModel)]="medM.postnom" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Téléphone:</ion-label>
      <ion-input type="text" [(ngModel)]="medM.telephone" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Email:</ion-label>
      <ion-input type="text" [(ngModel)]="medM.mail" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Adresse du travail:</ion-label>
      <ion-textarea [(ngModel)]="medM.adresse" ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Où travaillez-vous</ion-label>
      <ion-textarea [(ngModel)]="medM.hopital" ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Spécialité</ion-label>
      <ion-input type="text" [(ngModel)]="medM.specialite" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >CNOM:</ion-label>
      <ion-input type="text" [(ngModel)]="medM.cnom" ></ion-input>
    </ion-item>
    <ion-button expand="block" fill="outline"(click)="enregistrer(medM)">Enregistrer</ion-button>
  </div>
</ion-content>
<ion-footer>
<ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button shape="round" fill="outline" color="primary" routerLink="/apropos" ><ion-icon name="information-circle"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="4" *ngFor="let l of likes" >
        <ion-button shape="round" fill="outline" (click)="jaime(l)" color="primary"><ion-icon name="thumbs-up"></ion-icon></ion-button>
      </ion-col>
     <ion-col size="4">
         <ion-button shape="round" fill="outline" color="primary" (click)="sharing()" >
           <ion-icon name="share"></ion-icon>
         </ion-button>
     </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
</ion-footer>
