<div class="medecin">
    <div class="header">

        <div class="header-content">
            <div class="back">
                <img src="/assets/icon/return.svg">
            </div>
            <div class="logo">
                <img class="logo" src="/assets/img/logo.png">
            </div>
            <div class="text">
                <span>Trouver un médecin</span>
            </div>
        </div>

        <div class="search">
            <div class="search-form">
                <svg class="search-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21 21L16.65 16.65" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <input type="text" name="search" placeholder="Docteur, Spécialistes, Symptômes">
            </div>
        </div>

    </div>

    <div class="content">
        <div class="content-text">
            <h1>Spécialistés</h1>
            <span>Voir plus</span>
        </div>

        <div class="symptomes-card">
            <div class="items" *ngFor="let symptome of symptomes; let i = index"
            [ngStyle]="{'background-color':symptome.bg}">
                <img [src]='symptome.icon'>
                <span>{{symptome.name}}</span>
            </div>
        </div>

        <div class="textMedecin">
            <h1>Top Médecins </h1>
            <button>Voir plus</button>
        </div>

        <div class="Topmedecin" >
            <div class="medecin" *ngFor="let medecins of medecin; let i = index">
                <div class="photo">
                    <img [src]='medecins.photo' alt={{medecins.name}}>
                </div>

                <div class="author">
                    <div class="identite">
                        <span class="a">{{medecins.name}}</span> <br>
                        <span class="b">{{medecins.special}}</span> <br>
                        <span class="c">{{medecins.hopital}}</span>
                        <div class="btn">
                            <span>{{medecins.score}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
