<ion-header>
    <ion-toolbar >
        <ion-buttons slot="start" >
            <img src="/assets/img/logo.png">
          </ion-buttons>
      <ion-title *ngIf="networkStatus" [color]="networkStatus && networkStatus.connected ?'primary':'danger'">{{networkStatus.connected ?'Online':'Offline'}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content >
    <p><img src="/assets/img/homeText.svg" ></p>
    <img src="/assets/img/trouve.svg" >
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button  (click)=" medecin()" class="homecard" fill="outline">
            <img src="/assets/img/medecin.png">
          </ion-button>

        </ion-col>
        <ion-col size="4">
          <ion-button class="homered" fill="outline" routerLink="/hopital" >
            <img src="/assets/img/phar.png">
          </ion-button>
        </ion-col>
       <ion-col size="4">
           <ion-button class="homephar" fill="outline" routerLink="/pharmacie">
             <ion-icon name="thumbs-up"></ion-icon>
           </ion-button>
       </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="4" >
          <ion-button  routerLink="/ambulance" class="homecard" fill="outline" >
            <ion-icon name="thumbs-up"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" >
          <ion-button  fill="outline" class="homered" routerLink="/banquedesang">
            <ion-icon name="thumbs-up"></ion-icon>
          </ion-button>
        </ion-col>
       <ion-col size="4">
           <ion-button class="homephar" fill="outline" color="primary" (click)="sharing()" >
             <ion-icon name="share"></ion-icon>
           </ion-button>
       </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button shape="round" fill="outline" color="primary" routerLink="/apropos" ><ion-icon name="information-circle"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="4" *ngFor="let l of likes" >
          <ion-button shape="round" fill="outline" (click)="jaime(l)" color="primary"><ion-icon name="thumbs-up"></ion-icon></ion-button>
        </ion-col>
       <ion-col size="4">
           <ion-button shape="round" fill="outline" color="primary" (click)="sharing()" >
             <ion-icon name="share"></ion-icon>
           </ion-button>
       </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  </ion-footer>
