<div class="app">
  <header class="header">
    <img class="logo" src="/assets/img/logo.png">
    <span class="status">
    </span>
  </header>

  <section class="section">
    <div class="content-text">
      <h2>La sante a votre
        Proximité. </h2>
      <span>
        Trouvez un Médecin spécialiste, un Hôpital
        ou une Pharmacie ou une Banque de sang
      </span>
    </div>
    <div class="search">
      <svg class="search-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
          stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M21 21L16.65 16.65" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <input type="text" name="search" placeholder="Faites une recherche">
    </div>
    <div class="card">
      <div class="text">
        <p>Sélectionnez
          une option</p>
      </div>
      <div class="content">

      </div>
    </div>
  </section>
  <footer></footer>
</div>