@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

.app {
  background: white;
  left: 0;
  right: 0;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;

    .logo {
      width: 63px;
      height: 38px;
      margin-left: -16px;
    }

    .status {
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: green;
      border-radius: 50%;
    }
  }

  .section {
    padding: 10px;

    .content-text {
      padding-bottom: 24px;

      h2 {
        font-family: Nexa Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
        color: #132569;
      }

      span {
        font-family: Nexa Light;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #000000;
      }
    }

    .search {
      input {
        width: 319px;
        height: 41px;
        left: 25px;
        top: 230px;
        background: #E5E5E5;
        border-radius: 50px;
        border: none;
      }

      input::placeholder {
        font-family: Nexa Light;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 14px;
        color: #686767;
        padding-left: 46px;
      }

      input.TextInput {
        padding-left: 10px;
      }

      .search-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        margin-top: 6px;
        margin-left: 12px;
      }
    }

    .card {
      .text {
        width: 132px;
        height: 36px;
        margin-top: 46px;
      }

      .text p {
        padding-left: 10px;
        font-family: Nexa Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: #132569;

      }

      .card-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        overflow: scroll;
        margin-top: 24px;
        padding-bottom: 5px;

        &::-webkit-scrollbar {
          background: transparent;
        }

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: 114px;
          max-width: 114px;
          height: 138px;
          margin: 0 15px;
          // left: 32px;
          // background: #576DB3;
          border-radius: 20px;

          span {
            font-family: Nexa Bold;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            color: #FFFFFF;
            padding-top: 20px;
          }

          img {
            padding-top: 8px;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 30px;

    .about {
      width: 136px;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 18px;

      img {
        width: 40px;
        height: 38px;
      }

      span {
        font-family: Nexa Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: #000000;
      }
    }

    .shared {
      width: 136px;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 18px;

      img {
        width: 20px;
        height: 20px;
      }

      span {
        font-family: Nexa Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: #000000;
        padding-left: 6px
      }
    }
  }
}